<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="https://www.lassebischoff.space" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a target="_blank" href="https://lassebischoff.space/learn" class="nav-link px-2 text-body-secondary">Courses</a></li>
        <li class="nav-item"><a target="_blank" href="https://lassebischoff.space/events" class="nav-link px-2 text-body-secondary">Events</a></li>
        <li class="nav-item"><a href="https://lassebischoff.space/about" class="nav-link px-2 text-body-secondary">About</a></li>
      </ul>
      <p class="text-center text-body-secondary">&copy; 2023 Homelab, Inc</p>
    </footer>
  </div>