<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title class="text-center mt-2 mb-4">Homelab Careers</title>
      <link rel="icon" type="image/x-icon" href="/static/favicon.png">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <style>
        #banner {
          height: 360px;
          width: 100%;
          object-fit: cover;
          margin-bottom: 16px;
        }
      </style>
    </head>
    <body>
      {% include 'nav.html'%}
      <img class="img-fluid" id="banner" src="http://0.0.0.0:5000/static/banner.jpg" >
      <div class="container">
        <h1 class="text-center mt-2 mb-4">
          {{company_name}} Careers
        </h1>
        <div class="row" style="margin-bottom: 16px;">       
          <div class="col-md-6"> 
        <p class="lead">
          Calvin, why do you keep calling me Calvin? Quiet. Thanks, thanks a lot. Why not? Jesus.
          God dammit, I'm late. And Jack Benny is secretary of the Treasury. I have to tell you about the future. Yes, yes, I'm George, George McFly, and I'm your density. I mean, I'm your destiny. What?
          He's a very strange young man. I had a horrible nightmare, dreamed I went back in time, it was terrible. Uh? C'mon, c'mon let's go. After I fell off my toilet, I drew this.
          Get your meat hooks off of me. You can't, uh, that is, uh, nobody's home. you guys look great. Mom, you look so thin. Yeah, gimme a Tab. Over there, on my hope chest. I've never seen purple underwear before, Calvin.
          Say, why do you let those boys push you around like that? Uh, Lorraine. How did you know I was here? Alright, okay. Alright, there she is, George. Just go in there and invite her. C'mon, open up, let me out of here, Yo. Please, Marty, don't tell me, no man should know too much about their own destiny.
        </p>
          </div>
          <div class="d-none d-md-block col-md-6">
          <img src="/static/people.jpg" style="height: 560px; border-radius: 4px;">
          </div>
        </div>    
        <h2 class="text-center mt-2 mb-4">Open Positions</h2>
        <p>
          {% for job in jobs %}
            {% include 'jobitem.html' %}
          {% endfor %}
        </p>
        <div class="text-center">
        <a href="mailto:t9dmiw+ek30v4x6d0p9k@sharklasers.com?subject=Question%20about%20job%20openings&body=My%20name%3A%20%3CYour%20name%20here%3E%0D%0A%0D%0AMy%20questions%3A%20%3CYour%20questions%20here%3E" class="btn btn-primary btn-lg">Contact Us</a>          
        </div>
      </div>
      {% include 'footer.html' %}
    </body>
</html>
