<div class="border-bottom row" style="margin-bottom: 16px; padding-bottom: 8px;">
    <div class="col-10">
      <h4 
        style="color: rgb(120, 120, 120); margin-bottom: 4px; ">
        {{job['title']}}
      </h4>
      <div>
        <b>Location:</b> {{job['location']}}
      </div>
      {% if 'salary' in job %}
      <div>
        <b>Salary:</b> {{job['salary']}}
      </div>
      {% endif %}
    </div>
    <div class="col-2 padding-right: 16px">
        <a href="mailto:t9dmiw+ek30v4x6d0p9k@sharklasers.com?subject=Application%20for%20{{job['title']}}&body=My%20name%3A%20%3CYour%20name%20here%3E%0D%0A%0D%0AMy%20resume%20link%3A%20%3CMy%20resume%20link%3E%0D%0A%0D%0AMy%20LinkedIn%20link%3A%20%3CMy%20LinkedIn%20link%3E%0D%0A" type="button" class="btn btn-outline-primary">Apply</a>
    </div>
</div>