<nav class="navbar shadow-sm fixed-top bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/static/logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Homelab
      </a>
    </div>
  </nav>
  <div style="height: 56px"></div>